<button (click)="showProperty(null)">Add</button>
<br><br>
<fieldset *ngIf="showForm">
  <form [formGroup]="stateForm" (submit)="addState(stateForm.value)">
    Country: <select formControlName="country_id">
    <option value="" disabled>Select Country</option>
    <option *ngFor="let country of countries" value={{country.id}}>{{country.country}}</option>
  </select><br>
    <div *ngIf="countryValidation(stateForm.controls['country_id'])">{{messageCountry}}</div>
    <br><br>
    State: <input type="text" placeholder="Enter State" formControlName="state"><br>
    <div *ngIf="stateValidation(stateForm.controls['state'])">{{message}}</div>
    <br><br>
    Code: <input type="text" placeholder="Enter Code" formControlName="code"><br><br>
    <button type="submit">{{ selectState ? 'Update' : 'Add'}}</button>
    <button type="reset" (click)="goPrev()">Cancel</button>
  </form>
</fieldset>
<br><br>

<table border="1" *ngIf="showTable">

  <tr>
    <th>Index</th>
    <th>State</th>
    <th>Code</th>
    <th>Country</th>
    <th>Update</th>
    <th>Remove</th>
  </tr>

  <tr>
    <td colspan="6">
      <input #searchBox id="search-box" placeholder="Search State" (keyup)="searchState(searchBox.value)"/>
    </td>
  </tr>

  <tr
    *ngFor="let stateInfo of stateList | paginate:{itemsPerPage: items, currentPage: pageNumber, totalItems: totalNumRecords}; let i = index">
    <td>{{i + 1}}</td>
    <td>{{stateInfo.state}}</td>
    <td>{{stateInfo.code}}</td>
    <td>{{stateInfo.country}}</td>
    <td>
      <button (click)="showProperty(stateInfo)">Edit</button>
    </td>
    <td>
      <button (click)="removeState(stateInfo.id, i)">Delete</button>
    </td>
  </tr>
</table>

<app-pagination *ngIf="showTable" (pageChange)="pageNumber = $event; getState()" (numberChange)="numChange($event)"></app-pagination>
