<button (click)="showProperty(null)">Add</button>
<br><br>
<fieldset *ngIf="showForm">
  <form [formGroup]="numberForm" (submit)="addNumber(numberForm.value, numberForm.valid)">
    <br><br>
    Phone Number: <input type="text" placeholder="Phone Number" formControlName="phone_number"><br>
    <div *ngIf="phoneValidation(numberForm.controls['phone_number'])">{{phoneMessage}}</div>
    <br><br>

    Select type: <select formControlName="phone_type_id">
    <option value="" disabled>Select</option>
    <option value="1">Mobile</option>
    <option value="2">Phone</option>
    <option value="3">Fax</option>
  </select><br>
    <div *ngIf="typeValidation(numberForm.controls['phone_type_id'])">{{typeMessage}}</div>
    <br><br>

    Organization: <select formControlName="org_id">
    <option value="" disabled>Select Organization</option>
    <option *ngFor="let org of organizationList" value={{org.id}}>{{org.name}}</option>
  </select><br>
    <div *ngIf="orgValidation(numberForm.controls['org_id'])">{{orgMessage}}</div>
    <br><br>

    Country: <select formControlName="country_id" (change)="onSelectState($event.target.value)">
    <option value="" disabled>Select Country</option>
    <option *ngFor="let country of countryList" value={{country.id}}>{{country.country}}</option>
  </select><br>
    <div *ngIf="countryValidation(numberForm.controls['country_id'])">{{countryMessage}}</div>
    <br><br>

    State: <select formControlName="state_id" (change)="onSelectCity($event.target.value)">
    <option value="" disabled>Select State</option>
    <option *ngFor="let state of selectedState" value={{state.id}}>{{state.state}}</option>
  </select><br><br>

    City: <select formControlName="city_id">
    <option value="" disabled>Select City</option>
    <option *ngFor="let city of selectedCity" value={{city.id}}>{{city.name}}</option>
  </select><br><br>

    Street: <select formControlName="street">
    <option value="" disabled>Select Street</option>
    <option *ngFor="let street of streetList" value="{{street.street}}">{{street.street}}</option>
  </select><br><br>

    Postal Code: <input type="text" placeholder="Enter Code" formControlName="postal_code"><br>
    <div *ngIf="postalValidation(numberForm.controls['postal_code'])">{{postalMessage}}</div>
    <br><br>

    <!--Departments-->
    <fieldset>
      <div formArrayName="department">
        <div *ngFor="let depart of numberForm.get('department').controls; let i=index">
          <div>
            Department #{{ i + 1 }}
          </div>

          <div [formGroupName]="i">

            <div>
              <label>Department: </label>
              <select formControlName="dept">
                <option value="" disabled>Select Department</option>
                <option *ngFor="let depart of departmentList" value={{depart.id}} id="{{'deptId' + i}}">
                  {{depart.department}}
                </option>
              </select>

              <!--<div>-->
              <!--<input type="hidden"  formControlName="deptId" value={{departID}} >-->
              <!--</div>-->

              <!--<input type="text" placeholder="Select Department" formControlName="dept">-->
            </div>
            <br>

            <div>
              <label>Extension: </label>
              <input type="text" placeholder="Enter Extension" formControlName="extension">
            </div>
            <br>


            <button *ngIf="showRemoveButton" type="button" (click)="onRemoveDept(i)">Remove Departments</button>
            <br><br>

          </div>
        </div>
        <button type="button" (click)="onAddDept()">Add Departments</button>
      </div>
    </fieldset>
    <br><br>

    Crawl Number: <input type="checkbox" formControlName="isCrawl"><br><br>

    <button type="submit">{{ selectNumber ? 'Update' : 'Add'}}</button>
    <button type="reset" (click)="goPrev()">Cancel</button>
  </form>
</fieldset>
<br><br>

<div *ngIf="showTable">
  <table border="1">
    <tr>
      <th>Index</th>
      <th>Organization</th>
      <th>Number</th>
      <th>Department</th>
      <th>Extension</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Street</th>
      <th>Postal Code</th>
      <th>Update</th>
      <th>Remove</th>
    </tr>

    <tr
      *ngFor="let numberInfo of numberList | paginate: { itemsPerPage: pageItems, currentPage: p, totalItems: tPage }; let i = index">
      <td>{{i + 1}}</td>
      <td>{{numberInfo.org}}</td>
      <td>{{numberInfo.phone_number}}</td>
      <!--<td>{{numberInfo.department}}</td>-->

      <td><input type="text" auto-complete
                 min-chars="1"
                 placeholder="Enter Department"
                 no-match-found-text="No Match Found"
                 loading-text="Loading..."
                 [source]="departmentArray"
                 [list-formatter]="listFormatter"
                 path-to-data="payload.data"
                 value-property-name="id"
                 display-property-name="department"/>
      </td>

      <td>{{numberInfo.extension}}</td>
      <td>{{numberInfo.country}}</td>
      <td>{{numberInfo.state}}</td>
      <td>{{numberInfo.city}}</td>
      <td>{{numberInfo.street}}</td>
      <td>{{numberInfo.postal_code}}</td>
      <td>
        <button (click)="showProperty(numberInfo)">Edit</button>
      </td>
      <td>
        <button (click)="removeNumber(numberInfo.phone_id, i)">Delete</button>
      </td>
    </tr>
  </table>

  <app-pagination *ngIf="showTable" (pageChange)="p = $event;getNumberDetail()"
                  (numberChange)="onChange($event)"></app-pagination>
</div>
